<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
          [text]="buttonText"
          [icon]="buttonIcon">
      </ion-back-button>
    </ion-buttons>
    <ion-title>{{noticiaData[0]}}</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>

  <img [src]="noticiaData[1]" class="imagen" alt="">
  <div class="text">
    {{noticiaData[2]}}
  </div>
</ion-content>

