<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar showCancelButton="always" (ionChange)="searchTags($event)"></ion-searchbar>

  <ion-grid class="section" *ngFor="let section of sections; let j=index">
    <ion-row class="header">
      <ion-icon [ios]="section.header.icon + '-outline'" [md]="section.header.icon + '-sharp'" style="align-self: center;"></ion-icon> 
      <!-- <ion-icon [ios]="'ios -'+ section.header.icon" md="md-home" ></ion-icon>  -->
      <!-- <ion-icon [name]="section.header.icon" style="align-self: center;"></ion-icon> -->
      <ion-col class="title">
        {{section.header.title}}
      </ion-col>
    </ion-row>

    <ion-row class="body" *ngFor="let noticias of section.body.noticias; let i=index" [routerLink]="['/noticia/'+j+'/'+i]" (click)="sendSections()">
      <!-- {{j}} {{i}} -->
      <ion-col [size]="noticias.imgSize && noticias.imgSize || sectionsConfig.imgSize">
        <img [src]="noticias.img" alt="">
      </ion-col>
      <ion-col [size]="noticias.contentSize && noticias.contentSize || sectionsConfig.contentSize" class="content" >
        <div style="font-weight: bold;"> 
          {{noticias.title}} 
        </div>
        {{noticias.content.substring(0, 244)}}
        <br>
        <span class="tags" *ngFor=" let categoria of noticias.categorias">
          <ion-chip>
            <ion-label color="dark">{{categoria}}</ion-label>
          </ion-chip>
        </span>
        
      </ion-col>
    </ion-row>

  </ion-grid>

</ion-content>
<!-- <script>
  const searchbar = document.querySelector('ion-searchbar');
  searchbar.addEventListener('ionInput', handleInput);

  function handleInput(event){
    console.log(event);
  }
</script> -->